html{
  scrollbar-width: none;
}

.font-regular{
  font-family: "Tektur", sans-serif;
  color: #1f2a34;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

/* body{
  background-image: url("assets/media/ocean.jpg");
} */

.title{
  color: black;
  padding: 10px 15px 7px 15px; /* top left bottom right */
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.container{
  display: flex;
  flex-direction: row; /* Explicitly define row layout */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adds spacing between divs */
  flex-wrap: wrap; /* Allows wrapping if screen is small */
}

.order{
  margin-top: 15px;
  /* background-color: #4682B4; */
  border-radius: 20px;
  backdrop-filter: blur(50px);
  height: 17cm;
  width: 10cm;
}

/* #table1{
  background-color: #4682B4;
} */


#spacing{
  margin-left: 20px;
}

#add-btn{
  background-color: transparent;
  border: none;
}

#add-func{
  background-color: transparent;
  display: inline-block;
  margin-top: 10px;
  margin-left: 170px;
  /* padding-top: 5px; */
  transform-origin: center;
  transition: all 0.2s ease;
  /* position: relative; */
}

#add-func:hover{
  transform: scale(1.2);
}


#tasks{
  background-color: red;
  margin-top: 30px;
  margin-left: 19px;
  border-radius: 30px;
  height: 14.3cm;
  width: 9cm;
}

/* #table2{
  margin-left: 5cm;
  margin-top: 10px;
  background-color: red;
  border-radius: 30px;
  height: 17cm;
  width: 10cm;
}

#table3{
  margin-top: 10px;
  background-color: red;
  border-radius: 30px;
  height: 17cm;
  width: 10cm;
} */