html{
  scrollbar-width: none;
  cursor: default;
}

.font-regular{
  font-family: "Tektur", sans-serif;
  color: #1f2a34;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

/* body{
  background-image: url("assets/media/ocean.jpg");
} */

.title{
  color: black;
  padding: 10px 15px 7px 15px; /* top left bottom right */
  background-color: transparent;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.container{
  display: flex;
  flex-direction: row; /* Explicitly define row layout */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adds spacing between divs */
  flex-wrap: wrap; /* Allows wrapping if screen is small */
}

.order{
  margin-top: 15px;
  /* background-color: #4682B4; */
  border-radius: 20px;
  backdrop-filter: blur(50px);
  height: 17cm;
  width: 10cm;
}

/* #table1{
  background-color: #4682B4;
} */
.task-container{
  /* display: none; Hidden by default */
  position: fixed;
  top: 15%;
  left: 13%;
  /* transform: translate(-50%, -50%); */
  /* transition: all 1s ease-out; */
  /* background-color: white; */
  backdrop-filter: blur(50px);
  padding: 0 15px 15px 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: 1000;
  /* animation: fadeIn 2s ease-out forwards; */
}

#save-btn{
  /* margin-left: 4.8cm; */
  height: 0.8cm;
  width: 1.5cm;
  border: none;
  font-size: medium;
  border-radius: 5px;
  padding: 0;
}

#delete-btn{
  margin-left: 3.4cm;
  height: 0.8cm;
  width: 1.5cm;
  border: none;
  font-size: medium;
  border-radius: 5px;
  padding: 0;
}

#n{
  font-size: 20px;
}

#i{
  margin: 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  padding: 0;
}

.spacing{
  margin-left: 20px;
}

#add-btn{
  border: none;
  background-color: transparent;
  display: inline-block;
  margin-top: 10px;
  margin-left: 170px;
  /* padding-top: 5px; */
  transform-origin: center;
  transition: all 0.2s ease;
  /* position: relative; */
}

#add-btn:hover{
  transform: scale(1.2);
}

#tasks{
  background-color: red;
  margin-top: 30px;
  margin-left: 19px;
  border-radius: 30px;
  height: 14.3cm;
  width: 9cm;
}

/* #table2{
  margin-left: 5cm;
  margin-top: 10px;
  background-color: red;
  border-radius: 30px;
  height: 17cm;
  width: 10cm;
}

#table3{
  margin-top: 10px;
  background-color: red;
  border-radius: 30px;
  height: 17cm;
  width: 10cm;
} */